.signup {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding: 2rem 1rem; /* Add equal vertical space */
  background: url('../../assets/images/signup.jpg') no-repeat center center/cover;
  background-attachment: fixed;
  background-size: cover;

}


.signup__wrapper {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 20px;
  overflow: hidden;
  max-width: 920px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 230, 118, 0.25), 0 8px 20px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.05);
  height: 82vh;
  margin: auto 120;
}


/* Left Side - Form */
.signup__left {
  flex: 1;
  padding: 1.5rem;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.4), rgba(30, 30, 30, 0.4));
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  color: white;
  overflow-y: hidden;

  box-shadow: inset 0 0 15px rgba(0, 230, 118, 0.15);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputs label {
  font-size: 0.85rem;
}

.inputs input {
  padding: 0.65rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.95);
  font-size: 0.95rem;
  color: #000;
  transition: 0.3s ease;
}

.inputs input:focus {
  border-color: #00e676;
  box-shadow: 0 0 5px #00e67688;
  outline: none;
}

.signup__left button {
  padding: 0.7rem;
  background-color: #00e676;
  border: none;
  border-radius: 6px;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #00e67688;
  transition: all 0.3s ease;
  margin-right: 9%;
  margin-top: 0.1rem;
}

.signup__left p a{
  font-weight: bold;
  text-decoration: none;
  color: #00e676;
}
.signup__left p a:hover{
  text-decoration: underline;
  transition: color 0.3s;
}
.signup__left button:hover {
  background-color: #00c853;
  box-shadow: 0 0 15px #00c853cc;
}

/* Right Side */
.signup__right {
  flex: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  text-align: center;

  position: relative;
}



.signup__right::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 0;
}

.signup__content {
  position: relative;
  z-index: 1;
}

.signup__content h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
  text-shadow: 0 0 6px rgba(0, 230, 118, 0.6);
}

.signup__content h4 {
  font-size: 0.95rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.signup__content p a {
  margin-left: 1vh;
  color: #00e676;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
  font-weight: bold;
}

.signup__content p a:hover {
  color: #00c853;
  text-decoration: underline;
}

.attr {
  font-size: 0.65rem;
  color: #ccc;
  margin-top: 1rem;
}